header(class='mx-auto bg-green-600 p-4 flex justify-between items-center')
            a(href="/")
                h1(class='text-2xl text-white font-extrabold text-center') Good
                    span(class='font-normal') Homes
            
            nav(class=' text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden')
                a(href='/my-properties') My properties
                a(href='') My profile
                a(class='bg-green-800 py-2 px-10 rounded-lg' href='/auth/logout') Log out