header(class=' mx-auto bg-green-600 p-4 flex justify-between items-center')
            h1(class='text-2xl text-white font-extrabold text-center') Good
                span(class='font-normal') Homes
            
            nav(class="text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
                a(href="/auth/register") Sign up
                a(href="/auth/login") Log in

div(class="bg-green-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/categories/1" class="text-sm font-bold uppercase") Houses
        a(href="/categories/2" class="text-sm font-bold uppercase") Apartments
        a(href="/categories/3" class="text-sm font-bold uppercase") Cottages
        a(href="/categories/4" class="text-sm font-bold uppercase") Houses